@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-scrolled{
  position: sticky;
  top: 0;
}

.bg-extreme-blue{
  background-color: rgb(23 47 135);
}

.text-extra-blue{
  color: rgb(72 101 232);
}

a{
  color: inherit; /* nebo jakákoliv výchozí barva */
  text-decoration: none; /* Pokud chceš odstranit podtržení */
}

a:hover{
  color: inherit; /* Zamezí změně barvy při hoveru */
}

/* Styly pro nadpis SectionOne */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}



/* Styly pro vlny */
.waves{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(./../public/images/wave.png);
  background-size: contain; /* Nebo contain */
  background-size: 1000px 200px;
}

.wave1{
  animation: animate 19s linear infinite;
  z-index: 10;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.wave2{
  animation: animate2 19s linear infinite;
  z-index: 9;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.wave3{
  animation: animate 24s linear infinite;
  z-index: 8;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

.wave4{
  animation: animate2 18s linear infinite;
  z-index: 7;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}

@keyframes animate2{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}

/* SLIDER */

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slides .inner {
  transition: margin-left 1.6s cubic-bezier(0.25, 1, 0.5, 1);
  width: 300%; /* Pro tři slajdy */
  line-height: 0;
  height: fit-content;
}

.left-part h1,.left-part p,.left-part button,.left-part .icon {
  transition: transform 2s ease, opacity 2s ease;
  transform: translateY(20px); /* Mírný posun nahoru/dolů */
  opacity: 0;
}

#slide1:checked ~ #slides .slide_1 h1,
#slide1:checked ~ #slides .slide_1 p,
#slide1:checked ~ #slides .slide_1 button,
#slide1:checked ~ #slides .slide_1 .icon,
#slide2:checked ~ #slides .slide_2 h1,
#slide2:checked ~ #slides .slide_2 p,
#slide2:checked ~ #slides .slide_2 button,
#slide2:checked ~ #slides .slide_2 .icon,
#slide3:checked ~ #slides .slide_3 h1,
#slide3:checked ~ #slides .slide_3 p,
#slide3:checked ~ #slides .slide_3 button,
#slide3:checked ~ #slides .slide_3 .icon {
  transform: translateY(0);
  opacity: 1;
}



#slides .slide {
  width: 33.33%; /* Každý slajd bude 1/3 šířky */
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.arrow {
  display: inline-block; /* Umožňuje aplikovat transformaci */
  transition: transform 0.3s ease; /* Přechod pro hladký efekt */
}

button:hover .arrow {
  transform: translateX(10px); /* Posun šipky doprava */
}

#controls {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 50px;
  z-index: 3;
}

#controls label {
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  opacity: 0.8; /* Upravená průhlednost pro lepší viditelnost */
  position: absolute;
  top: 50%; /* Vertikální zarovnání na střed */
  transform: translateY(-50%); /* Posun šipek na střed */
  z-index: 5; /* Zajistí, že šipky jsou nad obsahem */
  user-select: none;
  cursor: pointer;
}

/* Pravá šipka */
#slide1:checked ~ #controls label[for="slide2"],
#slide2:checked ~ #controls label[for="slide3"],
#slide3:checked ~ #controls label[for="slide1"] {
  background: url(./../public/images/right-arrow.png) no-repeat center;
  background-size: contain; 
  right: 20px;
  display: block;
  z-index: 10; /* Nastav vyšší z-index pro zajištění viditelnosti */
}

/* Levá šipka */
#slide2:checked ~ #controls label[for="slide1"],
#slide3:checked ~ #controls label[for="slide2"] {
  background: url(./../public/images/left-arrow.png) no-repeat center;
  background-size: contain; 
  left: 20px;
  display: block;
  z-index: 10; /* Nastav vyšší z-index pro zajištění viditelnosti */
}


/* --- Speciální pravidla pro skrytí šipek --- */

/* Na prvním slidu skryjeme levou šipku */
#slide1:checked ~ #controls label[for="slide3"] {
  display: none; /* Skryjeme levou šipku na prvním slidu */
}

/* Na třetím slidu skryjeme pravou šipku */
#slide3:checked ~ #controls label[for="slide1"] {
  display: none; /* Skryjeme pravou šipku na třetím slidu */
}

/* Aby se neukazovaly šipky, když jsme na aktuálním slajdu */
#slide1:checked ~ #controls label[for="slide1"] {
  display: none; /* Skryjeme levou šipku na prvním slidu */
}

#slide2:checked ~ #controls label[for="slide2"] {
  display: none; /* Skryjeme pravou šipku na třetím slidu */
}

#slide3:checked ~ #controls label[for="slide3"] {
  display: none; /* Skryjeme pravou šipku na třetím slidu */
}

#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
  cursor: pointer; /* Nastavuje pointer pro klikací prvek */
  user-select: none; /* Zabraňuje možnosti výběru textu */
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3) {
  background: #444;
}

@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide1:checked ~ #controls label:nth-child(3),
  #slide1:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide1:checked ~ #controls label:nth-last-child(3),
  #slide1:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
}

/* On scroll*/

@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.OnScroll{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

/* Marquee */
.marquee-wrapper {
  height: 150px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
}
@keyframes marquee-right {
  to { 
    left: -200px;
  }
}

@keyframes marquee-left {
  to { 
    right: -200px;
  }
}

.animate-marquee-right{
  animation: marquee-right 18s linear infinite;
  animation-delay: -18s;
  left: calc(200px * 6);
}

.animate-marquee-left{
  animation: marquee-left 18s linear infinite;
  right: calc(200px * 6);
}

.marquee-icon0{
  animation-delay: 0s;
}

.marquee-icon1{
  animation-delay: -3s;
}

.marquee-icon2{
  animation-delay: -6s;
}

.marquee-icon3{
  animation-delay: -9s;
}

.marquee-icon4{
  animation-delay: -12s;
}

.marquee-icon5{
  animation-delay: -15s;
}

/* Accordion */

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(-100px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-in-out forwards;
}

/* SectionLast */

.last-wave{
  height: 300px;
  background: url(./../public/images/wave.png);
  background-size: cover;
  background-repeat: repeat-x;
}


/* WhyUsSection */

.WhyUsSection{
  background-image: url(./../public/images/logo3.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Jedna Bedna */
@keyframes rotate-360 {
  from {
      transform: rotate(0deg) scale(0); /* Nastaví počáteční rotaci i škálování */
  }
  to {
      transform: rotate(360deg) scale(1); /* Konečná rotace a plná velikost */
  }
}


/* Timeline */
@keyframes TimelineContentAppear{
  from{
    opacity: 0;
    transform: translateX(150px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.TimelineContent{
  animation: TimelineContentAppear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

@media (max-width: 767px){
  .text-vertical-horizontal{
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}


/* Presentation */
/* MOŽNOST A */
/* 1. DIV */
@keyframes PresentationFirstAnimation {
  from {
    transform: translateX(calc(-16.6667%)); /* Počáteční posun */
  }
  to {
    transform: translateX(0); /* Konečný stav */
  }
}

.PresentationFirst {
  transform: translateX(calc(-16.6667%)); /* Výchozí posun */
  animation: PresentationFirstAnimation linear; /* Animace */
  animation-timeline: view(); /* Synchronizace s viditelností */
  animation-range: entry 20% cover 40%; /* Animace začne při 20% viditelnosti */
  animation-fill-mode: forwards; /* Zajištění trvalého koncového stavu */
}

/* 2. DIV */
@keyframes PresentationSecondAnimation {
  from {
    transform: translateX(calc(16.6667%)); /* Počáteční posun */
  }
  to {
    transform: translateX(0); /* Konečný stav */
  }
}

.PresentationSecond {
  transform: translateX(calc(16.6667%)); /* Výchozí posun */
  animation: PresentationSecondAnimation linear; /* Animace */
  animation-timeline: view(); /* Synchronizace s viditelností */
  animation-range: entry 20% cover 40%; /* Animace začne při 20% viditelnosti */
  animation-fill-mode: forwards; /* Zajištění trvalého koncového stavu */
}


/* MOŽNOST B */
/* Styly pro první prvek */
.PresentationFirst2 {
  transform: translateX(calc(-16.6667%)); /* Výchozí posun */
}

/* Styly pro druhý prvek */
.PresentationSecond2 {
  transform: translateX(calc(16.6667%)); /* Výchozí posun */
}


.PresentationFirst2.visible {
  animation: PresentationFirstAnimation 2s linear forwards;
}

/* Styly pro druhý prvek */
.PresentationSecond2.visible {
  animation: PresentationSecondAnimation 2s linear forwards;
}

